html {
    font-family: 'Pangolin';
    src: url('../font/Pangolin/Pangolin-Regular.ttf') format('truetype');
    background: url("../asset/image/background_01.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    width: 100%;
    height: 50px;
    background: #004546;
    color: #ffffff;
    text-align: center;
    margin: 0 0 auto 0;
}

#body {
    width: 100%;
    display: flex;
}

#left {
    text-align: left;
    float: left;
    width: 200px;
    min-height: 800px;
    padding: 5px 0px;
}

#midNright {
    display: inline-block;
    width: 100%;
    min-height: 800px;
    padding: 6px;
}

#bottom {
    font-family:'Lora-Regular';
    src: url('../font/Lora/Lora-Regular.ttf') format('truetype');
    padding: 8px 0px;
    position: relative;
    width: 100%;
    height: 94px;
    left: 0px;
    bottom: 0px;
    background: #004950;
    color: #ffffff;
    text-align: justify;
}

span.label
{
    color:#fe0c0c;
}