html, body
{
  font-family: 'Lora', serif;
  src:url('../font/Lora/Lora-Regular.ttf') format('truetype');
  width: 100%;
  height: 100%;
  font-weight: bold;
}

#header
{
  display: flex;
  width: 100%;
  height: 120px;
  background: #ffffff;
  color: #ffffff;
  text-align: center;
  margin: 0 0 auto 0;
}

#lefthead
{
  float: left;
  min-width: 200px;
  max-width: 350px;
  background: #fc5a44;
  height: 100%;
}

#righthead
{
  display: inline-block;
  background: #ff9467;
  width: 100%;
  min-height: 800px;
}

#upperrighthead
{
  display: flex;
  background: #8c7f7d;
  height: 50%;
  width: 100%;
}

#lowerrighthead
{
  display: flex;
  background: #8ddf7d;
  height: 50%;
  width: 100%;
}

#body
{
  width: 100%;
  display: flex;
}

#left
{
  text-align: left;
  float: left;
  min-width: 200px;
  min-height: 800px;
  background: #006248;
}

#midNright
{
  display: inline-block;
  background: #009467;
  width: 100%;
  min-height: 800px;
}

#left-menu-item
{
  width: 100%;
  min-height: 50px;
  border-style: solid;
  border-width: 1px;
  border-left-width: 4px;
  background: #cca123;
}

#left-menu-control
{
  background: transparent;
  min-height: 50px;
  width: 100%;
  border-style: none;
}

#bottom
{
  position:relative;
  width: 100%;
  height: 94px;
  left:0px;
  bottom:0px;
  background:#004950;
  color: #ffffff;
  text-align: center;
}
