ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a
{
    text-decoration:none;
    display: block;
    color: #000;
    padding: 8px 4px;
}

 li a.active
 {
    background-color: #4CAF50;
    color: white;
 }

li a:hover:not(.active) 
{
    background-color: #008b8b;
    color:white;
    border-top-left-radius:8px;
    border-bottom-right-radius:8px;
}

ul li ul li
{
    left:6px;
}

ul li.title 
{
    width:100%;
    background-size:100% auto;
    color:white;
    border:solid 1px #0e570e;
    text-align:left;
    border-top-left-radius:8px;
    border-bottom-right-radius:8px;
}